
<div style="text-align:center">
  <h1>
    Account Blance
  </h1>
</div>
<h3 *ngIf="accountBalance">{{ accountBalance }}</h3>

<input type="number" class="form-control" name="Deposit amount" [(ngModel)]="operationAmount" />
<button (click)="deposit()">Make deposit</button>

<input placeholder="Withdraw amount"/>
<button (click)="withdraw()">Withdraw</button>

